.container-addmember {
    width: 95%;
    min-height: 100%;
    border: 0.5rem solid gainsboro;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    && .input-addmember {
        width: 90%;
        display: flex;
        align-items: center;
        gap: 1rem;

        && form {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            
            && input {
                width: 40%;
                height: 36px;
                padding: 5px;
                font-size: 16px;
            }
            && button {
                width: 8rem;
                height: 36px;
                background-color: #478ac9;
                color: #ffffff;
                font-size: 14px;
                transition: all 0.2s ease;
                border-radius: 5px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.3rem;
              }
            
              && i.fa {
                font-size: 16px;
                margin-bottom: 0;
            }
            
            && button:hover {
                background-color: #adcce9;
              }
        }
        
        
    }

    && .info-members {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        && .members {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            && input {
                width: 40%;
                height: 36px;
                padding: 5px;
                font-size: 16px;
                border: none;
            }

            && label {
                width: 20%;
            }

            && button {
                width: 2.5rem;
                height: 36px;
                background-color: #db545a;
                color: #ffffff;
                /* font-size: 14px; */
                transition: all 0.2s ease;
                border-radius: 5px;
                border: none;

                && i.fa {
                    font-size: 14px;
                    margin-bottom: 0;
                }
              }
            
            && button:hover {
                background-color: #f1b5b8;
              }
        }
    }

    && button {
        width: 20%;
        height: 36px;
        background-color: #478ac9;
        color: #ffffff;
        font-size: 14px;
        transition: all 0.2s ease;
        border-radius: 5px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
      }
    
      && i.fa {
        font-size: 14px;
        margin-bottom: 0;
    }
    
    && button:hover {
        background-color: #adcce9;
      }
}


.input-addmember {
    position: relative;
  }
  
  .filter-section {
    display: flex;
    align-items: center;
  }
  
  input {
    margin-right: 10px;
  }
  #email-user {
    display: none;
    position: absolute;
  }
  #email-user::-webkit-calendar-picker-indicator {
    display: none;
  }
  .filtered-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    list-style: none;
    
  }

  .filtered-list::-webkit-calendar-picker-indicator {
    display: none;
  }
  
  .filtered-list option {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .filtered-list option:hover {
    background-color: #f0f0f0;
  }