.change-rol-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;


    && .change-rol-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #DDDDDD;
        box-shadow: 1px 5px 10px #999999;
        gap: 1rem;
        border-radius: 5px;
        padding: 10px;
        width: 400px;
        height: 360px;
        font-family: 'Roboto', sans-serif;

        && .span-avatar img {
            filter: invert(100%);
        }

        && h1 {
            color: #478ac9;
        }

        && form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 80%;

            && .input_rol {
                display: flex;
                justify-content: space-between;
                align-items: center;

                && button {
                    background-color: #478ac9;


                    && :hover {
                        background-color: #adcce9;
                    }
                    && button:disabled {
                        background-color: #adcce9;
                    }
                }

                

                
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .change-rol-container {
        width: 90%;

        && .change-rol-form {
            width: 100%;
        }
    }
}