.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 80vh;
    padding: 2rem;

    && .project-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem 2rem 2rem;

        && .project-status {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;

            && .project-info {
                
                && .project-info-text {
                    font-size: 2rem;
                }
            }
        }

        && .project-btn-add {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            && button {
                    width: 5rem;
                    height: 3rem;
                    background-color: #478ac9;
                    color: #ffffff;
                    font-size: 14px;
                    transition: all 0.2s ease;
                    border-radius: 5px;
                    border: none;


                    && i.fa {
                        font-size: 24px;
                        margin-bottom: 0;
                    }
    
                    &&:hover {
                        background-color: #adcce9;
                        cursor: pointer;
                      }
            }
        }
    }

    
    
    && .projects-container {
        /* margin: 0 -8px; */
        /* margin: 0 -8px; */
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }
}


@media only screen and (max-width: 600px) {
    .project-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        && .project-status {
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: center;

            && .project-info {
                
                && .project-info-text{
                    font-size: 2rem;
                    text-align: center;
                }
                && p {
                    text-align: center;
                }
            }
        }

        && .project-btn-add {
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            && button {
                    width: 100% !important;
                    height: 3rem;
                    background-color: #478ac9;
                    color: #ffffff;
                    font-size: 14px;
                    transition: all 0.2s ease;
                    border-radius: 5px;
                    border: none;


                    && i.fa {
                        font-size: 24px;
                        margin-bottom: 0;
                    }
    
                    &&:hover {
                        background-color: #adcce9;
                        cursor: pointer;
                      }
            }
        }
    }
  }


  @media only screen and (max-width: 300px) {
    .project-status { 
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem !important;

        && .project-info{
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            && .project-info-text{
                font-size: 1.5rem !important;
                text-align: center;
            }
        }
    }
  }