.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    min-height: 80vh;
    padding: 2rem;

    && .project-btn {
        padding: 0 2rem 2rem 2rem;
        width: 50%;
        
        && button {
                width: 10rem;
                height: 36px;
                background-color: #478ac9;
                color: #ffffff;
                font-size: 14px;
                transition: all 0.2s ease;
                border-radius: 5px;
                border: none;

                &&:hover {
                    background-color: #adcce9;
                    cursor: pointer;
                  }
        }
    }
    
    && .projects-container {
        /* margin: 0 -8px; */
        margin: 0 -8px;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }
}
