.mytask-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;

    && .mytask-head-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        
    }

   && .mytask-select-project {
        width: 18rem;
        height: 2rem;
        border-radius: 0.2rem;
        border: 1px solid #A1A2B5;
        font-size: 16px;
        padding: 0 0.2rem;
   }

    && .mytask-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        && button {
            width: 8rem;
            height: 2.5rem;
            background-color: #478ac9;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 5px;
        }

        && :hover {
            background-color: #adcce9;
            cursor: pointer;
        }
        && :disabled {
            background-color: #adcce9;
            cursor: pointer;
        }
    }

    && .mytask-dashboard {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        && .mytask-header{
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            /* justify-content: center; */
            gap: 1rem;
            background-color: #478ac9;
            color: #f5f5f5;
            padding: 0 0.5rem;
            border-radius: 0.2rem;

            && h3 {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-align: center;
            }
            && h3:nth-child(1) {
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            && h3:nth-child(2) {
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            && h3:nth-child(3) {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            && h3:nth-child(4) {
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            && h3:nth-child(5) {
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        && .mytask-main {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            /* justify-content: center; */
            gap: 1rem;
            padding: 0 0.5rem;
            border-radius: 0.2rem;
            box-shadow: 1px 5px 10px rgb(207, 207, 207);
            background-color: #f2f2f2;

            && .task-field {
                display: flex;
                align-items: center;
            }
            /* && p {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            } */

            && img {
                width: 2rem;
                height: 2rem;
                border-radius: 1rem;
                outline: 1px solid gainsboro;
            }

            && .task-field:nth-child(1) {
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            && .task-field:nth-child(2) {
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            && .task-field:nth-child(3) {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            && .task-field:nth-child(4) {
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            && .task-field:nth-child(5) {
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            
        }
    }
}

@media only screen and (max-width: 600px) {
    .mytask-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 2rem 0;

        && .mytask-header{
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            gap: 0.1rem !important;
            
            && h3:nth-child(1) {
                width: 50% !important;
                display: flex;
                align-items: center;
                justify-content: flex-start !important;
                
            }
            && h3:nth-child(2) {
                width: 40% !important;
                display: flex;
                align-items: center;
                justify-content: center !important;
            }
            && h3:nth-child(3) {
                width: 10% !important;
                display: flex;
                align-items: center;
                justify-content: flex-end !important;


            }
        }

        && .mytask-main {
            width: 100% !important;
            height: 4rem !important;
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            gap: 0.1rem !important;

        && .task-field:nth-child(1) {
            width: 50% !important;
            height: 4rem;
            display: flex;
            align-items: center !important;
            justify-content: flex-start !important;
            overflow: hidden;
        }
        && .task-field:nth-child(2) {
            width: 40% !important;
            display: flex;
            align-items: center;
            justify-content: center !important;
        }
        && .task-field:nth-child(3) {
            width: 10% !important;
            display: flex;
            align-items: center;
            justify-content: flex-end !important;

            /* && img {
                background-image: url('https://ionicframework.com/docs/img/demos/avatar.svg');
            } */
        }
    }
    }
}