.project-container {
    width: 95%;
    min-height: 100%;
    /* border: 0.5rem solid gainsboro; */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    && .project-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        && h2 {
            width: 100%;
            text-align: center;
        }

        && .project-avatar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.2rem;
                

            && img {
                width: 2.3rem;
                height: 2.3rem;
                border-radius: 2.5rem;
                  display: block;

            }
            

            && .avatar-owner {
                outline: 3px solid #db545a;
            }
            
        }
        
    }

    && .project-action-btn {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        && button {
            width: 8rem;
            height: 40px;
            background-color: #478ac9;
            color: #ffffff;
            font-size: 14px;
            transition: all 0.2s ease;
            border-radius: 5px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
          }

          && i.fa {
            font-size: 16px;
            margin-bottom: 0;
        }
        
        && button:hover {
            background-color: #adcce9;
          }

        && button:disabled {
            background-color: #adcce9;
        }
    }
    
    && .project-container-tasks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

@media only screen and (max-width: 920px) {
    .project-container {
        width: 80%;
        min-height: 100%;
        /* border: 0.5rem solid gainsboro; */
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }
}


@media only screen and (max-width: 450px) {
    .project-container {
        width: 100%;

        && .project-top {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            && .project-avatar {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            && h2 {
                width: 100%;
                text-align: center;
            }
        }

        && .project-action-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
    
            && button {
                width: 25%; 
                
            }

            && i.fa {
                display: none;
            }
        }

        && .project-container-tasks {
            width: 100%;
        }
    }
}