.project-container {
    width: 80%;
    min-height: 100%;
    border: 0.5rem solid gainsboro;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    && .project-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        && .project-avatar {
            width: 33%;
            display: flex;
            gap: 0.2rem;
                

            && img {
                width: 2.3rem;
                height: 2.3rem;
                border-radius: 2.5rem;
            }

            && .avatar-owner {
                outline: 2px solid red;
            }
            
        }

        && h2 {
            width: 33%;
            text-align: center;
        }

        && .project-close {
            width: 33%;
            display: flex;
                justify-content: flex-end;

            && button {
                width: 8rem;
                height: 40px;
                background-color: #478ac9;
                color: #ffffff;
                font-size: 14px;
                transition: all 0.2s ease;
                border-radius: 5px;
                border: none;
                
              }
    
              && i.fa {
                font-size: 20px;
                margin-bottom: 0;
            }
            
            && button:hover {
                background-color: #adcce9;
              }
        }
        
    }

    && .project-middle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        && .project-middle-left {
            width: 45%;
            display: flex;
            gap: 1rem;
        }
        && .project-middle-right {
            width: 45%;
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
        }

        && button {
            width: 8rem;
            height: 40px;
            background-color: #478ac9;
            color: #ffffff;
            font-size: 14px;
            transition: all 0.2s ease;
            border-radius: 5px;
            border: none;
          }

          && i.fa {
            font-size: 20px;
            margin-bottom: 0;
        }
        
        && button:hover {
            background-color: #adcce9;
          }
    }
    
    && .project-container-tasks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        && .project-task{
            width: 100%;
            background-color: aqua;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 10px 0;

            && h3 {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            && .task-info {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 1rem;

                && span {
                    width: 30%;
                }

                && button {
                    width: 4rem;
                    height: 36px;
                    background-color: #db545a;
                    color: #ffffff;
                    /* font-size: 14px; */
                    transition: all 0.2s ease;
                    border-radius: 5px;
                    border: none;
    
                    && i.fa {
                        font-size: 20px;
                        margin-bottom: 0;
                    }
                  }
                
                && button:hover {
                    background-color: #f1b5b8;
                  }

                && button:disabled {
                    background-color: #f1b5b8;
                  }

                /* && button:active {
                    background-color: #db545a;
                } */
            }
        }
    }
}

