.task-box{
    width: 100%;
    /* background-color: aqua; */
    /* box-shadow: 10px 5px 5px black; */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 10px 0;

    && .task-header {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        && h3 {
            
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        && button {
            width: 8rem;
            height: 40px;
            background-color: #478ac9;
            color: #ffffff;
            font-size: 14px;
            transition: all 0.2s ease;
            border-radius: 5px;
            border: none;
            
          }

          && i.fa {
            font-size: 20px;
            margin-bottom: 0;
        }
        
        && button:hover {
            background-color: #adcce9;
          }
        
        && button:disabled {
            background-color: #adcce9;
        }
    }

    

    

    && .task-info {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        && span {
            width: 30%;
        }

        && button {
            width: 4rem;
            height: 36px;
            background-color: #db545a;
            color: #ffffff;
            /* font-size: 14px; */
            transition: all 0.2s ease;
            border-radius: 5px;
            border: none;

            && i.fa {
                font-size: 20px;
                margin-bottom: 0;
            }
          }
        
        && button:hover {
            background-color: #f1b5b8;
          }

        && button:disabled {
            background-color: #f1b5b8;
          }

        /* && button:active {
            background-color: #db545a;
        } */
    }
}


@media only screen and (max-width: 920px) {
    .task-box{
        width: 100%;

        && .task-header {
            width: 95%;
            display: flex;
            justify-content: center;
        }

        && .task-info {
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
    
            && span {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            && button {
                width: 50%;
                height: 2rem;

                && i.fa {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }
              }
        }
    }
}

@media only screen and (max-width: 450px) {
    .task-box{
        width: 100%;

        && .task-header {
            width: 95%;
            display: flex;
            justify-content: center;
        }

        && .task-info {
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
    
            && span {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            && button {
                width: 50%;
                height: 2rem;

                && i.fa {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }
              }
        }
    }
}