.dataProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;

    && .imageUser {
        width: 100px;
        /* border: 1px solid #478ac9; */
        
    }

    && .emailUser {

    }
}